body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.button {
	background-color: rgb(244, 196, 51);
	padding: 20px;
	color: navy;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	
}

#color {
	color: purple;
}

#place {
	color: rgb(209, 49, 49);
}

.back {
	position: center;
}

#compliment-box {
	background-color: rgb(230, 194, 207);
	
}

#interests {
	display: flex;
	justify-content: center;
}

#career-goals {
	text-decoration-line: underline;
}

#welcome {
	text-decoration: underline;
	text-decoration-color: blueviolet;
	text-align: center;
}

.checkbox {
	color: rgb(27, 107, 64);
	font-weight: bold;
}

#main-page-body {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

#bullet {
	list-style-type:circle;
	color: rgb(202, 99, 31);
}